body {
    background-color: #DCDCDC;
    color: #000000;
    font-family: courier, arial, times-new-roman;
    line-height: 30px
    }
    a.href {font-style:italic}
    a.href {color:blue}
    h1.header { text-align: center;
    line-height: 50px;
    max-width: 600px;
    margin: 0 auto
    }
    h3.closer {font-style:italic
    ;
    max-width: 600px;
    margin: 0 auto
    }
    h3.closer {color:dimgray
    ;
    max-width: 600px;
    margin: 0 auto
    }
    p {
    max-width: 600px;
    margin: 0 auto
    }
    h2 { line-height: 50px;
    max-width: 600px;
    margin: 0 auto}
    ul {
    max-width: 600px;
    margin: 0 auto}
    img {
    display: block;
    
    max-width: 600px;
    margin: 0 auto}
    p.one {font-style: italic}